<section class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</section>

<section>
  <a href="#" role="button">Add Menu Item</a>
  <a href="#" role="button">Update Menu Item</a>
  <a href="#" role="button">Option 3</a>
  <a href="#" role="button">Option 4</a>      
</section>


<!-- <script src="./js/profile.js"></script> -->
