<section class="row">
  <div class="col-auto">
    <h2>Welcome to the dashboard, please select from the following options</h2>
  </div>
</section>

<section>
  <a href="/dashboard/menu" role="button">View Menu</a>
  <a href="#" role="button">Add Menu Item</a>
  <a href="#" role="button">Option 3</a>
  <a href="#" role="button">Option 4</a>      
</section>


<!-- <script src="./js/profile.js"></script> -->
