<section class="row">
  <div class="col-auto">
    <h2>Welcome to the dashboard, please select from the following options</h2>
  </div>
</section>

<section>
  <a href="/dashboard/menu" role="button">View Menu</a>
  <a href="/dashboard/add-entree" role="button">Add Entree</a>
  <a href="/dashboard/add-beverage" role="button">Add Beverage</a>
</section>


<!-- <script src="./js/profile.js"></script> -->
