<div class="row mt-4">
  <div class="col-md-6">
    <h3>Edit your Entree:</h3>

    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-title">Entree Name:</label>
        <input class="form-input" type="text" id="entree-name" name="name" value="{{title}}"/>
      </div>
      <div class="form-group">
        <label for="entree-desc">Entree Description:</label>
        <textarea class="form-input" id="entree-desc" name="description">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" data-id="{{id}}">Update</button>
      </div>
    </form>
    
  </div>
</div>

<script src="/js/handleEntrees.js"></script>