<img src="../images/restaurant.jpg" alt="restaurant">

<!-- Loop over each object in the projects array -->
{{#each entrees as |entree| }}
<div class="row mb-4 project">
  <div class="col-md-5">
      
  </div>
  <div class="col-md-7">
    <p>
      {{entree.name}}
    </p>
  </div>
</div>
{{/each}}
